@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

#root {
    margin: 100px auto;
    max-width: 500px;
    padding-bottom: 200px;
}

.text {
    font-size: 36px;
    height: 40px;
    text-align: center;
    font-family: 'Poiret One';
}

.card {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 20px;
    margin-bottom: 20px;
}
