@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


.scrollModule {
    border-radius: 30px;
    background-color: rgba(0,0,0,0.0);
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-display: block;
    font-family: 'Poiret One';
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    align-items: center;
    justify-content: center;
    height: 150px;
    border-radius: 30px;
}

