@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poiret+One&family=Poppins:wght@900&display=swap');

h1 {
    text-align: center;
    justify-content: center;
    font-size: 84px;
    font-family: 'Comfortaa', cursive;
}
  
h2 {
    text-align: center;
    font-family: 'Poiret One';
    font-weight: 400;
    font-size: 36px;
    color: var(--tg-theme-text-color);;
}

h3 {
    text-align: center;
    font-family: 'Poiret One';
    font-weight: 400;
    font-size: 56px;
    color: rgb(188, 16, 236)
}
  
.word-wrapper {
    white-space: nowrap;
}
  
.container {
    max-width: 960px;
    padding: 5px;
    margin: 0 auto;
}